<table id="blockTable" cellspacing="0" cellpadding="0" border="0" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th data-mdata="CB" data-sclass="CBTagClass" data-sortable="false"><input id="sAllAccTbl" type="checkbox"
                                                                                  style="width: auto !important" /></th>
        <th data-mdata="side" data-sclass="sideTagClass" data-sortable="true">Side</th>
        <th data-mdata="symbol" data-sclass="symbolTagClass" data-sortable="true">Symbol</th>
        <th data-mdata="securityID" data-sclass="securityIDTagClass" data-sortable="true">Sec&nbsp;ID</th>
        <th data-mdata="quantity" data-sclass="right quantityTagClass" data-sortable="true" data-datatype="quantity">Qty</th>
        <th data-mdata="clientAcronym" data-sclass="clientTagClass" data-sortable="true">Client</th>
        <th data-mdata="avgPx" data-sclass="right avgPxTagClass" data-sortable="true" data-datatype="preciseprice">Avg&nbsp;Px</th>
        <th data-mdata="currency" data-sClass="currencyTagClass" data-sortable="true">CCY</th>
        <th data-mdata="tradeDate" data-sClass="tradeDateTagClass" data-sortable="true" data-datatype="date">Trade&nbsp;Date</th>
        <th data-mdata="settlDate" data-sClass="settleDateTagClass" data-sortable="true" data-datatype="date">Settle&nbsp;Date</th>
        <th data-mdata="state" data-sclass="overflowtd statusTagClass" data-sortable="true" data-sorttype="html">Status</th>
        <th data-mdata="text" data-sclass="ErrorDescTagClass" data-sortable="true">Error&nbsp;Desc</th>
        <th data-mdata="tradeID" data-sclass="tradeIDTagClass" data-sortable="true">Trade&nbsp;ID</th>
        <th data-mdata="entity" data-sclass="entityTagClass" data-sortable="true">Entity</th>
        <th data-mdata="modifyTimestamp" data-sortable="true" data-datatype="datetime">Last&nbsp;Modified</th>
        <th data-mdata="grossTradeAmt" data-sclass="right grossTradeAmtTagClass" data-sortable="true" data-datatype="money">Gross&nbsp;Money</th>
        <th data-mdata="netMoney" data-sclass="right netMoneyTagClass" data-sortable="true" data-datatype="money">Net&nbsp;Money</th>
        <th data-mdata="allocID" data-sClass="allocIDTagClass" data-sortable="true">Alloc&nbsp;ID</th>
        <th data-mdata="aofsAllocID" data-sClass="allocIDTagClass" data-sortable="true">Alloc&nbsp;ID</th>
        <th data-mdata="totalCommission" data-sclass="right totalCommissionTagClass" data-sortable="true" data-datatype="money">Commission</th>
        <th data-mdata="totalMiscFees" data-sclass="right totalMiscFeesTagClass" data-sortable="true" data-datatype="money">Misc&nbsp;Fees</th>
    </tr>
    </thead>
</table>